<ion-view view-title="{{politique.category}}">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-body">
        <div class="gauche">
        <div ng-if="!politique.video" >
          <ion-slide-box class="full-width" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
              <img class="full-image" ng-src="{{politique.images[0]}}"/>
            </ion-slide>
            <ion-slide>
              <img class="full-image" src="img/alaune.jpg"/>
            </ion-slide>
            <ion-slide>
              <img class="full-image" src="img/alaune.jpg"/>
            </ion-slide>
            <ion-slide>
              <img class="full-image" src="img/alaune.jpg"/>
            </ion-slide>
          </ion-slide-box>
      </div>

        <div ng-if="politique.video">
          <iframe  class="full-image video " src="{{politique.video |trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="item tabs-positive tabs tabs-secondary tabs-icon-left">
          <div class="tab-item">
            <i class="icon ion-clock"></i>
            {{politique.date}}
          </div>
          <div class="tab-item" >
            <i class="icon ion-navicon-round"></i>
            {{politique.category}}
          </div>
          <div class="tab-item">
            <i class="icon ion-ios-contact"></i>
            {{politique.author}}
          </div>
        </div>
        </div>

        <div class="droite">
          <h2 class="uppercase">{{politique.title}}</h2>
          <p>{{politique.content}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
