<ion-view view-title="PolyNews">
  <ion-content class="padding">
    <div class="list">
      <div ng-repeat="societe in societes">
          <div ng-if="societe.alaune==1">
            <div ng-if =" societe.category=='societes'">
            <a class="item item-body"   href="#/tab/societes/{{societe.id}}">
              <div class="gauche">
                <div ng-if="!societe.video" >
                  <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                      <img class="full-image" ng-src="{{societe.images[0]}}"/>
                    </ion-slide>
                    <ion-slide>
                      <img class="full-image" src="img/alaune.jpg"/>
                    </ion-slide>
                    <ion-slide>
                      <img class="full-image" src="img/alaune.jpg"/>
                    </ion-slide>
                  </ion-slide-box>
                </div>

                <div ng-if="societe.video">
                  <iframe  class="full-image" src="{{societe.video |trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="item tabs tabs-secondary tabs-positive tabs-icon-left">
                  <div class="tab-item">
                    <i class="icon ion-clock"></i>
                    {{societe.date}}
                  </div>
                  <div class="tab-item" >
                    <i class="icon ion-navicon-round"></i>
                    {{societe.category}}
                  </div>
                  <div class="tab-item">
                    <i class="icon ion-ios-contact"></i>
                    {{societe.author}}
                  </div>
                </div>

              </div>
              <div class="droite">
                <h2 class="uppercase">{{societe.title}}</h2>
                <p class=" three-lines long-text-to-hide">{{societe.content}}</p>
              </div>
            </a>
            </div>
          </div>
        </div>

      <div ng-repeat="societe in societes">
          <div ng-if="societe.alaune!=1">
            <div ng-if =" societe.category=='societes'">
            <a class="item item-thumbnail-left" href="#/tab/societes/{{societe.id}}">
              <img  class="full-image" ng-src="{{societe.images[0]}}"/>
              <h2 class="uppercase">{{societe.title}}</h2>
              <p class="long-text-to-hide">{{societe.content}}</p>
              <p> <i class="icon ion-earth"></i>  {{societe.date}} </p>
              <p> <i class="icon ion-navicon-round"></i>  {{societe.category}}</p>
            </a>
            </div>
        </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
