<ion-view view-title="PolyNews">
  <ion-content class="padding">
    <div class="list">
      <div ng-repeat="politique in politiques">
        <div ng-if="politique.alaune==1 && politique.category=='politiques'">
          <a class="item item-body"   href="#/tab/politiques/{{politique.id}}">
            <div class="gauche">
              <div ng-if="!politique.video" >
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                  <ion-slide>
                    <img class="full-image" ng-src="{{politique.images[0]}}"/>
                  </ion-slide>
                  <ion-slide>
                    <img class="full-image" src="img/alaune.jpg"/>
                  </ion-slide>
                  <ion-slide>
                    <img class="full-image" src="img/alaune.jpg"/>
                  </ion-slide>
                  <ion-slide>
                    <img class="full-image" src="img/alaune.jpg"/>
                  </ion-slide>
                </ion-slide-box>
              </div>
              <div ng-if="politique.video">
                <iframe  class="full-image video" src="{{politique.video |trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="item tabs tabs-secondary tabs-positive tabs-icon-left">
                <div class="tab-item">
                  <i class="icon ion-clock"></i>
                  {{politique.date}}
                </div>
                <div class="tab-item" >
                  <i class="icon ion-navicon-round"></i>
                  {{politique.category}}
                </div>
                <div class="tab-item">
                  <i class="icon ion-ios-contact"></i>
                  {{politique.author}}
                </div>
              </div>
            </div>
            <div class="droite">
              <h2 class="uppercase">{{politique.title}}</h2>
              <p class=" three-lines long-text-to-hide">{{politique.content}}</p>
            </div>
          </a>
        </div>
        </div>

      <div ng-repeat="politique in politiques">
        <div ng-if="politique.category=='politiques'">
          <div ng-if="politique.alaune!=1">
            <a class="item item-thumbnail-left" href="#/tab/politiques/{{politique.id}}">
              <img  class="full-image" ng-src="{{politique.images[0]}}"/>
              <h2 class="uppercase">{{politique.title}}</h2>
              <p class="long-text-to-hide">{{politique.content}}</p>
              <p> <i class="icon ion-earth"></i>  {{politique.date}} </p>
              <p> <i class="icon ion-navicon-round"></i>  {{politique.category}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
