<ion-view view-title="PolyNews">
  <ion-content class="padding">
    <div class="list">
      <div ng-repeat="article in articles">
        <div ng-if="article.alaune==1 && article.id== alauneID">
          <a class="item item-body "   href="#/tab/articles/{{article.id}}">
            <div class="gauche">
              <div ng-if="!article.video" >
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                  <ion-slide>
                    <img class="full-image" ng-src="{{article.images[0]}}"/>
                  </ion-slide>
                  <ion-slide>
                    <img class="full-image" src="img/alaune.jpg"/>
                  </ion-slide>
                  <ion-slide>
                    <img class="full-image" src="img/alaune.jpg"/>
                  </ion-slide>
                  <ion-slide>
                    <img class="full-image" src="img/alaune.jpg"/>
                  </ion-slide>
                </ion-slide-box>
              </div>

              <div ng-if="article.video">
                <iframe  class="video full-image" src="{{article.video |trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
              </div>

              <div class="item tabs tabs-secondary tabs-positive tabs-icon-left">
                <div class="tab-item">
                  <i class="icon ion-clock"></i>
                  {{article.date}}
                </div>
                <div class="tab-item" >
                  <i class="icon ion-navicon-round"></i>
                  {{article.category}}
                </div>
                <div class="tab-item">
                  <i class="icon ion-ios-contact"></i>
                  {{article.author}}
                </div>
              </div>
            </div>

            <div class="droite">
              <h2 class="uppercase">{{article.title}}</h2>
              <p class=" three-lines long-text-to-hide">{{article.content}}</p>
            </div>
          </a>
        </div>
        </div>

      <div ng-repeat="article in articles">
        <div ng-if="article.alaune!=1">
          <a class="item item-thumbnail-left" href="#/tab/articles/{{article.id}}">
                <img  class="full-image" ng-src="{{article.images[0]}}"/>
            <h2 class="uppercase">{{article.title}}</h2>
            <p class="long-text-to-hide">{{article.content}}</p>
            <p> <i class="icon ion-earth"></i>  {{article.date}} </p>
            <p> <i class="icon ion-navicon-round"></i>  {{article.category}}</p>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
