<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top  tabs-top tabs-positive">

  <!-- Home Tab -->
  <ion-tab title="ACCUEIL" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Politique Tab -->
  <ion-tab title="POLITIQUE" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/politiques">
    <ion-nav-view name="tab-politiques"></ion-nav-view>
  </ion-tab>

  <!-- Société Tab -->
  <ion-tab title="SOCIETE" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/societes">
    <ion-nav-view name="tab-societes"></ion-nav-view>
  </ion-tab>

</ion-tabs>


