.long-text-to-hide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*.long-text-to-hide:hover {
  max-height: 10em;
  white-space: normal;
}*/
.three-lines{
  font-size: 0.9em;
  line-height: 1.2em;
  max-height: 3.6em;
}

.uppercase{
  text-transform: uppercase;
}
@media all and (orientation: landscape){
  .gauche{
    width: 50%;
    float: left;
    margin-right: 27px;
  }

  .droite{
    display: inline;
  }
}

.item-body{
  overflow: hidden;
}

